
@font-face {
  font-family: 'FSElliotPro';
  src: url('~@/assets/fonts/FSElliotPro.woff2') format('woff2'),
    url('~@/assets/fonts/FSElliotPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSElliotProLight';
  src: url('~@/assets/fonts/FSElliotProLight.woff2') format('woff2'),
    url('~@/assets/fonts/FSElliotProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSElliotProBold';
  src: url('~@/assets/fonts/FSElliotProBold.woff2') format('woff2'),
    url('~@/assets/fonts/FSElliotProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FSElliotProHeavy';
  src: url('~@/assets/fonts/FSElliotProHeavy.woff2') format('woff2'),
    url('~@/assets/fonts/FSElliotProHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
